celery
dill
eventlet
numpy
pandas
pydash
pymongo
nltk
unidecode
imbalanced-learn
cvxopt
sklearn-pandas
minio
stanfordcorenlp
redis
spacy
scikit-learn
scipy
futures
sklearn_crfsuite
cachetools
gitpython
